//main: "../stylesheet.scss"


$taille-max: 1180px;   //  Indiquer ici la taille maximal du site desktop
$taille-gouttiere : 20px; // gouttiere de base (marge pour en mobile)
$taille-police-base: 15px;


// minimum woff et woff2
@include font-face("icomoon","../font/icomoon", $file-formats: woff ttf);

$font: "Lato", arial, sans-serif;
$font-icon: 'icomoon', sans-serif!important;


$couleur1: #007ac3; /* couleur principale */
$couleur2: #1798e6; /* couleur secondaire */
$couleur3: #092f5d;

$gris-fonce: #5c646e;
$gris-moyen: #939598;
$gris-pale: #ededed;


[class*="icon"] {
    position: relative;
    line-height: 1;
    transition: all 0.2s;

    &:before {
        font-family : $font-icon;
        font-weight: normal!important;
        transition: color 0.3s;
        color: $couleur1;
        font-size: $taille-police-base;
    }

    span { font-family: $font-icon; display: inline-block; vertical-align: top;}
}

.icon-menu:before { content: "[ouvrir]";}
.icon-menuFermer:before { content: "[fermer]";}
.icon-flecheGauche:before { content: "";}
.icon-droite:before { content: "";}


$bp-mobile-petit: 375px;
$bp-mobile: 480px;
$bp-tablette: 768px;
$bp-bureau: 1000px;
$bp-bureau-large: 1200px;

@mixin BP($point) {
  @if $point == large {
    @media only screen and (min-width: $bp-bureau-large) { @content; }
  }
  @else if $point == bureau {
    @media only screen and (min-width: $bp-bureau) { @content; }
  }
  @else if $point == tablette {
    @media only screen and (min-width: $bp-tablette) { @content; }
  }
  @else if $point == mobileLarge {
    @media only screen and (min-width: $bp-mobile) { @content; }
  }
  @else if $point == mobilePetit {
    @media only screen and (min-width: $bp-mobile-petit) { @content; }
  }
  @else if $point == print {
    @media print { @content; }
  }
}
