//main: "../stylesheet.scss"

.entete {
	background: $gris-pale;
	padding: 10px 0;
	text-align: center;
    width: 100%;
    z-index: 4;
    position: fixed;

    @include BP(print){
		display: none;
	}
    
    .corpsContenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {
    display: inline-block;
    width: 50px;
    height: 50px;
}

.navigationPrincipale {
    display: none;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;

    @include BP(tablette){
        display: flex;
        padding-right: 60px;
    }

    @include BP(bureau){
        padding-right: 0;
    }
}

.menuSec ul {
    margin: 0;
    padding: 0;
    flex: 0 1 auto;

    li { display: inline-block;}

    a {
        color: $gris-fonce;
        font-size: 14px;
        padding: 0 0.5em;
        &:hover { color: $couleur1; }
    }
}

.menuPrincipal_nav {
    display: none;
    width: 100%;
    flex: 0 0 auto;
    margin-top: 10px;

    @include BP(bureau){
        display: flex;
        justify-content: flex-end;
    }

    @include BP(print) { display: none; }

    ul {
        margin: 0;
        padding: 0;

        ul { display: none;}
    }

    li {
        display: inline-block;
        margin-left: 20px;

        &:first-child a { margin-left: 0; }
    }

    a { 
        color: $gris-fonce;
        display: block;
        font-size: 14px;
        font-weight: bold;

        &.actif, &.actif:hover {
            background-color: $couleur1;
            color: #fff;
        }

        &:hover, &:focus, &:active  {
            color: $couleur1;
        }
    }
}

.activeTop {
	//.menuSec .corpsContenu { height: 50px; }

	@include BP(tablette){
		.logo {
            width: 40px;
            height: 40px;
		}
	}

}
