<!--<div 
  class="playlist-container"
  *ngIf="playlistList$ | async as playlistList">
    <p class="playlist-container--title">Current playlist: </p>
    <p-dropdown 
      [options]="playlistList" 
      [(ngModel)]="selectedPlaylist"
      (onChange)="sortByPlaylist()"
      placeholder="Choose a playlist"
      autoWidth="false"
      class="playlist-container--dropdown"
      optionLabel="title"></p-dropdown>
</div>-->

<!--<div *ngIf="(isLoading$ | async) === true">
  <i class="pi pi-spin pi-spinner"></i> Video list is loading...
</div>-->

<section>
  <div 
    class="video--total-count"
    *ngIf="vm$ | async as vm">
    <span 
      *ngIf="vm.sortedVideos.length !== vm.allVideos.length">
      Showing {{ vm.sortedVideos.length }} videos of {{ vm.allVideos.length }}
    </span>
    <span 
      *ngIf="vm.sortedVideos.length === vm.allVideos.length">
      {{ vm.allVideos.length }} videos in list
    </span>
    <!--<p 
      *ngIf="currentlyPlayingVideoPosition$ | async as currentlyPlayingVideoPosition">
      Currently playing : {{ currentlyPlayingVideoPosition }}
    </p>-->
    <p><a href="#" (click)="scrollToCurrentlyPlaying(videoList)"></a></p>
  </div>

  <p-scrollPanel #videoList [style]="{width: '100%', height: '706px'}">
    <section class="video-list">
      <ul 
        *ngIf="vm$ | async as vm">
        <li 
          class="video-list--item" 
          *ngFor="let video of vm.sortedVideos; index as i" 
          [ngClass]="{'video--active' : video.youtubeId === vm.videoPlaying.youtubeId }">
          <div 
            class="video-action--play"
            *ngIf="video.youtubeId !== vm.videoPlaying.youtubeId"
            (click)="playVideo(video)">
            <i class="pi pi-play"></i>
          </div>
          <div class="video--counter">{{ i + 1 }}</div>
          <div class="video-image">
            <div class="seo-bg">
              <picture>
                <source srcset="http://i3.ytimg.com/vi/{{ video.youtubeId }}/maxresdefault.jpg" media="(max-width: 767px)">
                <img src="{{ video.thumbnailPath }}" alt="#">
              </picture>	
            </div>
            <div class="video-image--info">
              <!--<p class="video-image--length">{{ video.duration }}</p>-->
              <p class="video-image--new" *ngIf="video.youtubeStatus !== 'published'">!!!</p>
              <p class="video-image--new" *ngIf="video.rating === 0 && video.youtubeStatus === 'published'">New</p>
              <p class="video-image--new-border" *ngIf="video.rating === 0 || video.youtubeStatus !== 'published'"></p>
            </div>
          </div>
          <div class="video-info">
          
            <p class="video-info--title">
              <p-rating 
              class="video-info--rating"
              [cancel]="false"
              [readonly]="true"
              [stars]="3"
              [(ngModel)]="video.rating"
              >
              <ng-template pTemplate="onicon">
                <i class="pi pi-star-fill"></i>
              </ng-template>
              <ng-template pTemplate="officon">
                <i class="pi pi-star"></i>
              </ng-template>
            </p-rating>
              {{ video.title }}
            </p>
            <p class="video-info--artist">
              <ng-container *ngFor="let artist of video.artists; index as artisti">
                {{ artist.title }}<span *ngIf="artisti < video.artists.length - 1">, </span>
              </ng-container>
            </p>
    
            <ul class="video-info--tag-list">
              <ng-container *ngFor="let tag of video.tags">
                <li 
                *ngIf="selectedPlaylist.id === tag.playlist_id"
                  [ngStyle]="{'background': tag.color !== null || tag.color !== '' ? tag.color : '#282f39' }"
                  class="video-tag">
                  <p>{{ tag.title }}</p>
                </li>
              </ng-container>
              <li class="video-tag video-tag--view-all" (click)="editTags(video.youtubeId)"><p>Manage</p></li>
              <!--<li class="video-tag video-tag--delete" (click)="confirmDeletion(video)"><p>Delete</p></li>-->
            </ul>
          </div>
        </li>
      </ul>
    </section>
  </p-scrollPanel>
</section>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<p-toast></p-toast>
