//main: "../stylesheet.scss"

.filAriane {
    color: $couleur1;
    margin: 20px 0;

    li {
        display: inline;
        margin-right: 10px;

        &:first-child:before {display: none; }

        &:before {
            content: '>';
            margin-right: 10px;
            color: #6d7b83;
        }
    }

    a {
        @include etats( $val: (color:$couleur1) );
        color: $gris-fonce;
    }
}
