<section class="tag-list">
  <ul *ngIf="tagGroups$ | async as tags">
    <ng-container *ngFor="let tag of tags" >
      <li 
        class="tag-parent" 
        [ngStyle]="{'background': tag.color !== null || tag.color !== '' ? tag.color : '#282f39' }">
        <div class="tag-label">
          <span>{{ tag.title }}</span>
          <a 
            class="link-look" 
            *ngIf="tag.title !== 'Other'"
            (click)="editTag(tag.id)">Edit</a>
        </div>
        <ul 
          *ngIf="tag.lst_children_tag_id.length"
          class="tag-children">
          <li *ngFor="let tagchildren of tag.lst_children_tag_id"
          [ngStyle]="{'background': (tagchildren.parent_tag_id === 0 || tagchildren.parent_tag_id === null) && (tag.color !== null || tag.color !== '') ? tagchildren.color : '#353f4d' }">
            <div class="tag-label">
              <span>{{ tagchildren.title }}</span>
              <a class="link-look" (click)="editTag(tagchildren.id)">Edit</a>
            </div>
          </li>
        </ul>
      </li>
    </ng-container>
  </ul>
</section>