<section class="tag-list">
  <p-accordion *ngIf="tagGroups$ | async as tags">
    <ng-container *ngFor="let tag of tags">
      <p-accordion-panel [value]="tag.id">

        <p-accordion-header>
          <div 
            [ngStyle]="{'background-color': tag.color !== null || tag.color !== '' ? tag.color : '#282f39' }" 
            class="tag-parent">
            <p>{{ tag.title }} <span *ngIf="tag.lst_children_tag != null">({{ tag.lst_children_tag.length }})</span></p>
            <a 
              class="link-look" 
              (click)="editTag(tag.id)">
              Edit
            </a>
          </div>
        </p-accordion-header>

        <p-accordion-content>
          <ng-container *ngIf="tag.lst_children_tag?.length; else noChildren">
            <p-scrollPanel>
              <ul class="tag-children">
                <li *ngFor="let tagchildren of tag.lst_children_tag"
                [ngStyle]="{'background': (tagchildren.parent_tag_id === 0) && (tag.color !== null || tag.color !== '') ? tagchildren.color : '#353f4d' }">
                  <div class="tag-label">
                    <span>{{ tagchildren.title }} <span *ngIf="tagchildren.nb_associated_videos > 0">({{ tagchildren.nb_associated_videos }})</span></span>
                    <a class="link-look" (click)="editTag(tagchildren.id)">Edit</a>
                  </div>
                </li>
              </ul>
            </p-scrollPanel>
          </ng-container>

          <ng-template #noChildren>
            <div class="no-elements">No elements under this tag.</div>
          </ng-template>
        </p-accordion-content>

      </p-accordion-panel>
    </ng-container>
  </p-accordion>
</section>