
.tag-list {
 
  .link-look {
    color: var(--color-Accent1);
  }

  .p-accordion-toggle-icon {
    color: #fff;
  }

  .p-accordion .p-accordion-content {
    padding: 0;
  }

  .p-accordion .p-accordion-header .p-accordion-header-link {
    padding: 0 10px 0 0;
    background: var(--color-Main1);
  }

  .p-accordion p-accordiontab .p-accordion-tab {
    margin-bottom: 4px;
  }

  .tag-label {
    display: flex;
    justify-content: space-between;
    padding: 12px 14px;
  }

  .tag-parent {
    background: var(--color-Main2);
    display: flex;
    justify-content: space-between;
    width: calc(100% - 50px);
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;

    &:last-child {
      border-bottom: none;
    }
  }

  .tag-children {
    background-color: var(--color-Main1);

    .tag-label {
      padding: 3px 14px;
      font-size: em(12);
      border-top: 1px solid rgb(83, 85, 90);
    }
  }

}