<section class="tag-edit">
  <div>
    <h2 *ngIf="tag.id !== 0">Edit tag</h2>
    <h2 *ngIf="tag.id === 0">Add tag</h2>
    <form [formGroup]="tagForm" (ngSubmit)="updateTag()" class="form" novalidate>
      <fieldset>
        <div class="form-field">
          <label for="title">Tag title :</label>
          <input
            type="text"
            id="title"
            pInputText 
            formControlName="title">
            <span 
              *ngIf="!tagForm.get('title')?.valid && tagForm.get('title')?.touched">
              <span *ngIf="tagForm.get('title')?.errors?.required">This field is required</span>
            </span>
        </div>

        <div class="form-field" *ngIf="tagGroupChoices$ | async as tagGroupChoices">
          <label for="color">Group : </label>
          <p-dropdown 
            [options]="tagGroupChoices" 
            formControlName="parent_tag_id" 
            optionValue="id"
            placeholder="Select Item"
            optionLabel="title"></p-dropdown>
        </div>
        <div 
          class="form-field" 
          *ngIf="tagForm.get('parent_tag_id')!.value === null || tagForm.get('parent_tag_id')!.value === 0">
          <label for="color2">Color code : </label>
          <p-colorPicker formControlName="color" ngDefaultControl></p-colorPicker>
          <a *ngIf="tagForm.get('color')!.value !== null && tagForm.get('color')!.value !== ''" (click)="removeColor()" class="action-link">Remove color</a>
        </div>
        <div class="form-field">
          <label for="title">Description :</label>
          <textarea 
            rows="5" 
            pInputTextarea 
            formControlName="description">
          </textarea>
        </div>
        <span 
            *ngIf="!tagForm.valid && tagForm.touched"
            >The form contains errors</span>
      </fieldset>
      <div class="form-action">
        <button *ngIf="tag.id !== 0" class="btn-look" type="submit">Save</button>
        <button *ngIf="tag.id !== 0" class="btn-look btn-warning" (click)="confirmDeletion()" type="button">Delete</button>
        <button *ngIf="tag.id === 0" class="btn-look" (click)="addTag()" type="button">Add</button>
      </div>
    </form>
  </div>
</section>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<p-toast></p-toast>