<section class="tag-edit">
  <div *ngIf="tag$ | async as tag">
    <h2 *ngIf="editMode">Edit tag</h2>
    <h2 *ngIf="!editMode">Add tag</h2>
    <form [formGroup]="tagForm" (ngSubmit)="onSubmit()" class="form">
      <fieldset>
        <div class="form-field">
          <label for="tagTitle">Tag title :</label>
          <input
            type="text"
            id="tagTitle"
            formControlName="tagTitle">
            <span 
              *ngIf="!tagForm.get('tagTitle')?.valid && tagForm.get('tagTitle')?.touched">
              <span *ngIf="tagForm.get('tagTitle')?.errors?.required">This field is required</span>
            </span>
        </div>
        <span 
            *ngIf="!tagForm.valid && tagForm.touched"
            >The form contains errors</span>
      </fieldset>
      <div class="form-action">
        <button *ngIf="editMode" class="btn-look" type="submit">Save</button>
        <button *ngIf="editMode" class="btn-look btn-warning" (click)="onDeleteTag(tag.id)" type="button">Delete</button>
        <button *ngIf="!editMode" class="btn-look" (click)="onAddTag()" type="button">Add</button>
      </div>
    </form>
  </div>
</section>