<section class="tag-list">
  <ul>
    <li class="tag-parent">
      <div class="tag-label">
        Parent Tag 
        <a (click)="onEdit()">Edit</a>
      </div>
      <ul class="tag-list--child">
        <li class="tag-child">Child tag <a (click)="onEdit()">Edit</a></li>
        <li class="tag-child">Child tag <a (click)="onEdit()">Edit</a></li>
        <li class="tag-child">Child tag <a (click)="onEdit()">Edit</a></li>
      </ul>
    </li>
    <li class="tag-parent">Parent tag <a (click)="onEdit()">Edit</a></li>
    <li class="tag-parent">Parent tag <a (click)="onEdit()">Edit</a></li>
  </ul>
</section>