<section class="tag-list">
  <ul>
    <li class="tag-parent" *ngFor="let tag of tagList; let i = index">
      <div class="tag-label">
        {{ tag.name }} | 
        <a class="link-look" (click)="onEdit(tag.objectId)">Edit</a>
      </div>
      <!---<ul class="tag-list--child">
        <li class="tag-child">Child tag <a (click)="onEdit()">Edit</a></li>
        <li class="tag-child">Child tag <a (click)="onEdit()">Edit</a></li>
        <li class="tag-child">Child tag <a (click)="onEdit()">Edit</a></li>
      </ul>--->
    </li>
  </ul>
</section>