<div class="video-manager--tag-list">
  @if (video$ | async; as video) {
    <h3>Edit assigned tags for {{ video.title }}</h3>
  }

  <form [formGroup]="videoTagForm" (ngSubmit)="updateVideo()" class="form" novalidate>
    <fieldset>
      @if (artistTagList$ | async; as artistTagList) {
        <div class="form-field">
          <label for="artistTagList">Artists :</label>
          <p-multiSelect
            [options]="artistTagList"
            formControlName="artists"
            dataKey="id"
            optionLabel="title"
            placeholder="Select artists"
            display="chip">
          </p-multiSelect>
        </div>
      }
      @if (tagList$ | async; as tagList) {
        <div class="form-field">
          <label for="tagIds">Tags :</label>
          <p-multiSelect
            [options]="tagList"
            formControlName="tags"
            dataKey="id"
            [group]="true"
            optionLabel="title"
            optionGroupLabel="title"
            optionGroupChildren="lst_children_tag"
            placeholder="Select tags"
            display="chip">
          </p-multiSelect>
        </div>
      }
      <div class="form-field">
        <label>Rating :</label>
        <p-rating
          [stars]="3"
          formControlName="rating"
          iconOnClass="pi pi-star-fill"
          iconOffClass="pi pi-star"
        ></p-rating>
      </div>
      @if (customPlaylists$ | async; as customPlaylistList) {
        <div class="form-field">
          <label for="tagIds">Custom playlists :</label>
          <p-multiSelect
            [options]="customPlaylistList"
            formControlName="customPlaylists"
            dataKey="id"
            optionLabel="title"
            placeholder="Select playlists"
            display="chip">
          </p-multiSelect>
        </div>
      }
      @if (!videoTagForm.valid && videoTagForm.touched) {
        <span
        >The form contains errors</span>
      }
    </fieldset>
    <div class="form-action">
      <button class="btn-look" type="submit">Save</button>
    </div>
  </form>

</div>

