<div class="video-manager--tag-list">
  <h3 *ngIf="video$ | async as video">Edit assigned tags for {{ video.title }}</h3>

  <form [formGroup]="videoTagForm" (ngSubmit)="updateVideo()" class="form" novalidate>
    <fieldset>
      <div class="form-field" *ngIf="tags$ | async as tagList">
        <label for="tagIds">Tags :</label>
    
        <p-multiSelect 
          [options]="tagList" 
          formControlName="tags"
          [group]="true"
          optionLabel="title"
          optionGroupLabel="title"
          optionGroupChildren="lst_children_tag_id"
          defaultLabel="Select tags"
          display="chip">   
        </p-multiSelect>

      </div>
      <div class="form-field">
        <p-rating 
          [cancel]="false"
          [stars]="3"
          formControlName="rating"
          >
          <ng-template pTemplate="onicon">
            <i class="pi pi-star-fill"></i>
          </ng-template>
          <ng-template pTemplate="officon">
            <i class="pi pi-star"></i>
          </ng-template>
          </p-rating>
      </div>
      <span 
          *ngIf="!videoTagForm.valid && videoTagForm.touched"
          >The form contains errors</span>
    </fieldset>
    <div class="form-action">
      <button class="btn-look" type="submit">Save</button>
    </div>
  </form>

</div>

