//main: "../stylesheet.scss"

html {box-sizing: border-box; }
*, *:after, *:before {box-sizing: inherit; }
body {
    color: $gris-fonce;
    font-family: $font;
    font-size: $taille-police-base;
	text-rendering: optimizeLegibility;  // https://davidwalsh.name/font-smoothing
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.titrePage {
    font-family: $font-opensans;
}


.passeNav { position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden; }
.hidden, .champCache{ display: none !important; visibility: hidden; }

.logoImpression {
    margin: 20px;
    display: none;

    @include BP(print){
        display: block;
    }
}

.conteneur {
    /* bug ie11, pas de min-height */
    display: flex;
    flex-direction: column;
}

main{
	padding-top: 50px; /* hauteur entete mobile */
	min-height: 300px;
	position: relative;

	@include BP(tablette) {
		min-height: 700px;
		padding-top: 98px; /* hauteur entete tablette */
	}

	@include BP(bureau) {
		padding-top: 98px; /* hauteur entete bureau */
	}
}

.activeTop main {
	@include BP(tablette) {
		//padding-top: 130px; /* hauteur entete sticky tablette*/
	}
}

.corpsContenu {
	position: relative;
	padding-left: $taille-gouttiere;
	padding-right: $taille-gouttiere;

	&.corpsEtroit {
		padding-left: 10%;
		padding-right: 10%;
	}

	@include BP(bureau) {
		max-width: $taille-max;
		width: 100%;
		margin: 0 auto;
	}
}

