<header class="main-menu">
  <div class="boxed-container">
    <nav>
      <ul>
        <li class="main-menu--item" routerLinkActive="item-active">
          <a routerLink="videos">Video List</a></li>
          <li class="main-menu--item" routerLinkActive="item-active">
            <a routerLink="tags">Tag Manager</a></li>
            <li class="main-menu--item" routerLinkActive="item-active">
              <a routerLink="playlists">Playlists</a></li>
            </ul>
          </nav>
          @if (playlist$ | async; as playlistList) {
            <div
              class="playlist-container"
              >
              <p class="playlist-container--title">Playlists: </p>
              <p-select
                [options]="playlistList"
                [(ngModel)]="currentPlaylist"
                dataKey="id"
                (ngModelChange)="onPlaylistChange()"
                placeholder="Choose a playlist"
                class="playlist-container--dropdown"
                optionLabel="title">
              </p-select>
            </div>
          }
          @if (user) {
            <p>Logged as {{ user.name }}</p>
          }
        </div>
      </header>
