<section class="filter-list">
  <div class="boxed-container filter-group">
    <div class="filter-sort filter-sort--tags" *ngIf="tagList$ | async as tagList">
      <p-multiSelect 
        [options]="tagList" 
        [(ngModel)]="selectedTagList"
        (onChange)="sortByTag()"
        [group]="true"
        dataKey="id"
        optionLabel="title"
        optionGroupLabel="title"
        optionGroupChildren="lst_children_tag"
        placeholder="Sort tags"> 
        <ng-template pTemplate="selectedItems">
          Sort by tag
          <!-- custom "chips" codés -->
        </ng-template>  
      </p-multiSelect>
    </div>
    <div class="filter-sort filter-sort--artists" *ngIf="artistTagList$ | async as artistTagList">
      <p-multiSelect 
        [options]="artistTagList" 
        [(ngModel)]="selectedTagList"
        (onChange)="sortByTag()"
        dataKey="id"
        optionLabel="title"
        placeholder="Sort tags"> 
        <ng-template pTemplate="selectedItems">
          Sort by artist
          <!-- custom "chips" codés -->
        </ng-template>  
      </p-multiSelect>
    </div>
    <div class="filter-sort filter-sort--rating">  

      <p-multiSelect 
        [options]="ratingList" 
        [(ngModel)]="selectedRating"
        (onChange)="sortByRating()"
        dataKey="rating"
        optionLabel="description"
        placeholder="Sort by rating"> 
      </p-multiSelect>

    </div>
    <div class="filter-sort filter-sort--new">
      <p-checkbox 
        name="filterByNew" 
        [binary]="true"
        inputId="filterByNew"
        (onChange)="sortByNewOnly()"
        [(ngModel)]="showOnlyNew">
      </p-checkbox>
      <label for="filterByNew">Show only new</label>
    </div>

    <div class="filter-sort filter-sort--oldest-first">
      <p-checkbox 
        name="filterByOldestFirst" 
        [binary]="true"
        inputId="filterByOldestFirst"
        (onChange)="orderByOldestFirst()"
        [(ngModel)]="orderOldestFirst">
      </p-checkbox>
      <label for="filterByOldestFirst">Sort by oldest first</label>
    </div>

  </div>
</section>

<section class="filter-active">
  <ul *ngIf="selectedTagList$ | async as selectedTagList" class="boxed-container filter-active-list">
    <ng-container *ngFor="let tag of selectedTagList">
      <li 
        [ngStyle]="{'background': tag.color !== null || tag.color !== '' ? tag.color : '#282f39' }"
        class="filter-active--label" 
        (click)="removeTagFromFilter(tag.id)">
        <p>{{ tag.title }}</p>
        <span class="filter-active--remove" title="Remove">X</span>
      </li>
    </ng-container>
  </ul>
</section>