<section class="filter-list">
  <div class="boxed-container filter-group">
    <!--<ul>
      <li>
        + Tags
      </li>
      <li>
        + Length
      </li>
      <li>
        YT playlist
      </li>
    </ul>-->
    <div class="filter-sort">
        <p-multiSelect 
          [options]="tagList" 
          [(ngModel)]="selectedTagList"
          (onChange)="sortByTag()"
          [group]="true"
          optionLabel="title"
          optionGroupLabel="title"
          optionGroupChildren="lst_children_tag_id"
          defaultLabel="Sort tags"
          display="chip">   
        </p-multiSelect>
    </div>
  </div>
</section>

<section class="filter-active">
  <ul class="boxed-container filter-active-list">
    <li 
      class="filter-active--label" 
      *ngFor="let tag of selectedTagList"
      (click)="removeTagFromFilter(tag.id)">
      <p>{{ tag.title }}</p>
      <span class="filter-active--remove" title="Remove">X</span>
    </li>
  </ul>
</section>