.css-pattern-base:before {
  content: "";
  @extend %fill;
  opacity: 0.2;
}

.css-pattern-1:before {
  background-image:  linear-gradient(135deg, #000000 25%, transparent 25%), linear-gradient(225deg, #000000 25%, transparent 25%), linear-gradient(45deg, #000000 25%, transparent 25%), linear-gradient(315deg, #000000 25%, #ffffff 25%);
  background-position:  10px 0, 10px 0, 0 0, 0 0;
  background-size: 10px 10px;
  background-repeat: repeat;
}

.css-pattern-2:before {
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, #000 0, #000 1px, transparent 0, transparent 50%);
}

.css-pattern-3:before {
  background: linear-gradient(135deg, #00000055 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(225deg, #000000 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(315deg, #00000055 25%, transparent 25%) 0px 0/ 20px 20px, linear-gradient(45deg, #000000 25%, #ffffff 25%) 0px 0/ 20px 20px;
}

.css-pattern-4:before {
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #ffffff 10px ), repeating-linear-gradient( #00000055, #000000 );
}

.css-pattern-5:before {
  background-image:  linear-gradient(#000000 1.4000000000000001px, transparent 1.4000000000000001px), linear-gradient(90deg, #000000 1.4000000000000001px, transparent 1.4000000000000001px), linear-gradient(#000000 0.7000000000000001px, transparent 0.7000000000000001px), linear-gradient(90deg, #000000 0.7000000000000001px, #ffffff 0.7000000000000001px);
  background-size: 35px 35px, 35px 35px, 7px 7px, 7px 7px;
  background-position: -1.4000000000000001px -1.4000000000000001px, -1.4000000000000001px -1.4000000000000001px, -0.7000000000000001px -0.7000000000000001px, -0.7000000000000001px -0.7000000000000001px;
}

.css-pattern-6:before {
  background-image:  linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(60deg, #00000077 25%, transparent 25.5%, transparent 75%, #00000077 75%, #00000077), linear-gradient(60deg, #00000077 25%, transparent 25.5%, transparent 75%, #00000077 75%, #00000077);
  background-size: 20px 35px;
  background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
}

.css-pattern-7:before {
  background-image: linear-gradient(to right, #000000, #000000 5px, #ffffff 5px, #ffffff );
  background-size: 10px 100%;}

.css-pattern-8:before {
  background-image: linear-gradient(45deg, #000000 50%, #ffffff 50%);
  background-size: 10px 10px;}

.css-pattern-9:before {
  background-image:  repeating-linear-gradient(45deg, #000000 25%, transparent 25%, transparent 75%, #000000 75%, #000000), repeating-linear-gradient(45deg, #000000 25%, #ffffff 25%, #ffffff 75%, #000000 75%, #000000);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
}

.css-pattern-10:before {
  background-image: radial-gradient(circle at center center, #000000, #ffffff), repeating-radial-gradient(circle at center center, #000000, #000000, 10px, transparent 20px, transparent 10px);
  background-blend-mode: multiply;
}

.css-pattern-11:before {
  background-image: radial-gradient( ellipse farthest-corner at 10px 10px , #000000, #000000 50%, #ffffff 50%);
  background-size: 10px 10px;
}

.css-pattern-12:before {
  background-image:  linear-gradient(135deg, #000000 25%, transparent 25%), linear-gradient(225deg, #000000 25%, transparent 25%), linear-gradient(45deg, #000000 25%, transparent 25%), linear-gradient(315deg, #000000 25%, #ffffff 25%);
  background-position:  7px 0, 7px 0, 0 0, 0 0;
  background-size: 14px 14px;
  background-repeat: repeat;
}

.css-pattern-13:before {
  opacity: 1;
  background-image: radial-gradient(#000000 0.35000000000000003px, transparent 0.35000000000000003px);
  background-size: 7px 7px;}

.css-pattern-14:before {
  background-size: 7px 7px;
  background-image: repeating-linear-gradient(45deg, #000000 0, #000000 0.7000000000000001px, #ffffff 0, #ffffff 50%);
}

.css-pattern-15:before {
  background-image: linear-gradient(0deg, #ffffff 50%, #000000 50%);
  background-size: 7px 7px;
}

.css-pattern-16:before {
  background-image: linear-gradient(-45deg, #ffffff, #ffffff 50%, #000000 50%, #000000);
  background-size: 7px 7px;
}

.css-pattern-17:before {
  background-image:  repeating-linear-gradient(45deg, #000000 25%, transparent 25%, transparent 75%, #000000 75%, #000000), repeating-linear-gradient(45deg, #000000 25%, #ffffff 25%, #ffffff 75%, #000000 75%, #000000);
  background-position: 0 0, 5px 5px;
  background-size: 10px 10px;
}

.css-pattern-18:before {
  opacity: 0.8;
  background: radial-gradient(circle, transparent 20%, transparent 20%, transparent 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, transparent 20%, transparent 80%, transparent 80%, transparent) 12.5px 12.5px, linear-gradient(#000000 1px, transparent 1px) 0 -0.5px, linear-gradient(90deg, #000000 1px, transparent 1px) -0.5px 0;
  background-size: 25px 25px, 25px 25px, 12.5px 12.5px, 12.5px 12.5px;
}

.css-pattern-19:before {
  background-image:  linear-gradient(135deg, #000000 25%, transparent 25%), linear-gradient(225deg, #000000 25%, transparent 25%), linear-gradient(45deg, #000000 25%, transparent 25%), linear-gradient(315deg, #000000 25%, #ffffff 25%);
  background-position:  5px 0, 5px 0, 0 0, 0 0;
  background-size: 5px 5px;
  background-repeat: repeat;
}

.css-pattern-20:before {
  opacity: 1;
  background-image:  radial-gradient(#000000 0.25px, transparent 0.25px), radial-gradient(#000000 0.25px, transparent 0.25px);
  background-size: 10px 10px;
  background-position: 0 0,5px 5px;
}