.main-menu {
  background: $cMain1;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-menu--item {
    background: $cMain1;
    border-right: 1px solid $cMain3;
    border-left: 1px solid $cMain3;
    display: inline-block;
    padding: 12px 20px;

    a {
      color: #fff;
    }
  }

  .item-active {
    filter: brightness(1.5);
  }
}

