body {
  font-family: "Nunito", Arial, sans-serif;
  line-height: 1.4;
  background: var(--color-DarkBase1);
  color: #fff;
}

a {
  color: var(--color-Main1);
}

.boxed-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1360px;
  padding: 0 20px;
  position: relative;
}

.seo-bg  {
		  	
  /*&.compat-object-fit {
    background-size: cover;
    background-position: center center;
  }*/
  
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  picture img {
    height: 100%;
    width: 100%;
    max-width: none;
    -o-object-fit: cover;
    object-fit: cover;
    //object-position: 50% 0;
  }
}
