.p-multiselect {
  width: 100%;
}

p-multiselect .p-multiselect-label{
  display: flex;
  flex-wrap: wrap;
}

p-multiselect .p-multiselect-token{
  margin-bottom: 0;
}

.p-multiselect-items-wrapper {
  max-height: 400px !important; 
}