.tags {
  padding-top: 14px;
}

.tags-manager {
  display: flex;
  justify-content: space-between;
}

.tags-list-container {
  flex: 0 0 auto;
  width: calc(60% - 14px);
}

.tags-edit-container {
  flex: 0 0 auto;
  width: 40%;
}

.tag-edit {
  background: $cMain2;
  padding: 20px;

  h2 {
    margin-bottom: 20px;
  }

  .action-link {
    color: #fff;
    margin-left: 10px;
    font-size: em(12);
    cursor: pointer;
  }
}

.tag-list {
 
  a {
    color: $cAccent1;
  }

  .tag-label {
    display: flex;
    justify-content: space-between;
    padding: 12px 14px;
  }
  .tag-parent {
    margin-bottom: 10px;
    background: $cMain2;

    &:last-child {
      border-bottom: none;
    }
  }

  .tag-children {
    background-color: $cMain1;

    .tag-label {
      padding: 6px 14px;
      font-size: em(13);
    }
  }

}

.tag-add {
  margin-bottom: 14px;
}