.tags {
  padding-top: 14px;
}

.tags-manager {
  display: flex;
  justify-content: space-between;
}

.tags-list-container {
  flex: 0 0 auto;
  width: calc(60% - 14px);
}

.tags-edit-container {
  flex: 0 0 auto;
  width: 40%;
}

.tag-edit {
  background: $cMain2;
  padding: 20px;

  h2 {
    margin-bottom: 20px;
  }

  .action-link {
    color: #fff;
    margin-left: 10px;
    font-size: em(12);
    cursor: pointer;
  }
}

.tag-list {
 
  a {
    color: $cAccent1;
  }

  .p-accordion .p-accordion-content {
    padding: 0;
  }

  .p-accordion .p-accordion-header .p-accordion-header-link {
    padding: 0 10px 0 0;
  }

  .p-accordion p-accordiontab .p-accordion-tab {
    margin-bottom: 10px;
  }

  .p-accordion .p-accordion-header .p-accordion-header-link {
    background: $cMain1;
  }

  .tag-label {
    display: flex;
    justify-content: space-between;
    padding: 12px 14px;
  }

  .tag-parent {
    background: $cMain2;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 50px);
    padding: 14px 20px;
    font-size: em(14);

    &:last-child {
      border-bottom: none;
    }
  }

  .tag-children {
    background-color: $cMain1;

    .tag-label {
      padding: 3px 14px;
      font-size: em(12);
      border-top: 1px solid rgb(83, 85, 90);
    }
  }

}

.tag-add {
  margin-bottom: 14px;
}