.tags {
  padding-top: 14px;
}

.tags-manager {
  display: flex;
  justify-content: space-between;
}

.tags-list-container {
  flex: 0 0 auto;
  width: calc(60% - 14px);
}

.tags-edit-container {
  flex: 0 0 auto;
  width: 40%;
}

.tag-edit {
  background: $cMain2;
  padding: 20px;

  h2 {
    margin-bottom: 20px;
  }
}

.tag-list {
 
  a {
    color: $cAccent1;
  }

  .tag-parent {
    margin-bottom: 5px;
    padding: 12px 14px;
    background: $cMain2;

    &:last-child {
      border-bottom: none;
    }
  }

}

.tag-add {
  margin-bottom: 14px;
}