$cMain1: #353f4d;
$cMain2: #282f39;
$cMain3: #4d5867;

$cAccent1: #2FC4B5;
$cAccent2: #24786D;

$cDarkBase1: #1a1f24;

$cAlert1: #f17959;
$cAlert2: #C75635;


.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: #000;
  fill: #000;
}

.icon-cog {
  font-size: em(20);
  fill: #fff;
}