:root {
  --color-Main1: #353f4d;
  --color-Main2: #282f39;
  --color-Main3: #4d5867;

  --color-Accent1: #2FC4B5;
  --color-Accent2: #24786D;

  --color-DarkBase1: #1a1f24;

  --color-Alert1: #f17959;
  --color-Alert2: #C75635;
}


.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: #000;
  fill: #000;
}

.icon-cog {
  font-size: em(20);
  fill: #fff;
}