//main: "../stylesheet.scss"

.planSite {
	margin-bottom: 10px;

	ul {
		margin-left: $taille-gouttiere;
		margin-bottom: 10px;

		a { color: $gris-fonce;	}
		ul a { color: $gris-moyen;	}
		ul ul a { color: $gris-pale;}
	}

	a {
		color: #000;
		font-weight: bold;
		@include etats( $val: (color: $couleur1) );
	}
}

/*
.planSite {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;

    ul { list-style: none;}
    li:before { content: none!important;}

    & > ul {
        margin-bottom: 10px;


        a { color: $gris-fonce;	text-transform: uppercase;}
        ul a { color: $gris-moyen;	text-transform: none;}
        ul ul a, .planSite_sousPage a { color: #6c7981; font-weight: 500;}
    }

    a {
        color: #000;
        font-weight: bold;
        @include etats( $val: (color: $couleur1) );
    }

    @include BP(tablette){
        & > ul { flex: 0 1 50%; padding-right: 30px;}
    }
}
*/